[Desktop Entry]
Encoding=UTF-8
Name=Moneta
Comment=Moneta P2P Cryptocurrency
Comment[fr]=Moneta, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Moneta, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/moneta-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/moneta128.png
MimeType=x-scheme-handler/moneta;
Categories=Office;
