#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_moneta
#build/monetad::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_moneta)

DEB_INSTALL_EXAMPLES_monetad += debian/examples/*
DEB_INSTALL_MANPAGES_monetad += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix monetad
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f moneta-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake moneta-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_moneta
	src/test_moneta

# Ensure wrapper is set executable
binary-post-install/monetad:
	chmod +x $(cdbs_curdestdir)usr/bin/monetad
binary-post-install/moneta-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/moneta-qt
